body{
			font-family:Arial, Helvetica, sans-serif;
			font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 300;
			color:rgb(239, 239, 239);
			text-align:center;
			font-size:36px;
			background-color:rgb(51, 51, 51);	
}
	
html, body {
	margin:0; padding:0;
	height:100%;
}

 
#floater {
	position:relative; float:left;
	height:10%;	margin-bottom:-400px;
	width:1px;
}
 
#centered {
	position:relative; clear:left;
	height:110%; width:95%; max-width:1900px; min-width:400px;
	margin:0 auto;
}
#content a:hover {
    opacity:.5;
}
#content a{transition: opacity 0.4s ease-in-out;}

#content {
	position:absolute; left:0; right:0; top:0; bottom:0;
	overflow:auto; height:100%;
	padding:20px; margin:10px;
}

#teach{
	font-weight: 600;
}